.row.col-lg-12 .card.col-lg-3{
    margin-left: 2vw;
}
.badge{
    cursor: pointer;
}
.badge.Em.aberto{
    background-color: cadetblue;
    color: white;
}
.badge.Em.andamento{
    background-color: lightgreen;
    color: white;
}
.badge.Em.teste{
    background-color: #17a2b8;
    color: white;
}
.badge.Finalizado{
    background-color: #28a745;
    color: white;
}
