.row.col-lg-12 .card#timeline{
    height: 30vw;
    overflow: scroll;
}
.row.col-lg-12 .card.col-lg-12{
    padding-top: 1vw;
}
.row.col-lg-12 .card.col-lg-12 .card{
    padding-left: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 0.5vw;
    padding-right: 0.5vw;
}
.row.col-lg-12 .card.col-lg-12 .card .image img.profile-user-img.img-fluid.img-circle{
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 0.2vw;
    width: 3vw;
    height: 3vw;
    cursor: pointer;
}
