.col .card.card-secondary .card-header{
    background-color: white;
    -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
}
.this-enterprise{
    cursor: pointer;
}
.row.col-lg-12 .table.table-striped tbody th span.badge.Em.correção{
    color: #fff;
    background-color: #F6B314;
}
.row.col-lg-12 .table.table-striped tbody th span.badge.Em.teste{
    color: #fff;
    background-color: gray;
}
.row.col-lg-12 .table.table-striped tbody th span.badge.Em.Aberto{
    color: #fff;
    background-color: red;
}
.row.col-lg-12 .table.table-striped tbody th span.badge.Finalizado{
    color: #fff;
    background-color: #10835A;
}

#modal-test .modal-dialog .modal-content .card.card-prirary.cardutline.direct-chat.direct-chat-primary .card-body.modal-body{
    height: 56vh;
}
#modal-test .modal-dialog .modal-content .card.card-prirary.cardutline.direct-chat.direct-chat-primary .card-body.modal-body .direct-chat-messages{
    height: 100%;
}
#modal-test .modal-dialog .modal-content .card.card-prirary.cardutline.direct-chat.direct-chat-primary .card-body.modal-body .direct-chat-contacts{
    height: 100%;
    background: white;
}
