#modal-add-user .modal-dialog .modal-content .modal-body .card.card-widget.widget-user-2 .widget-user-header.bg-info .widget-user-image.relative{

}
#modal-add-user .modal-dialog .modal-content .modal-body .card.card-widget.widget-user-2 .widget-user-header.bg-info .widget-user-image.relative #profile-image-user{
    float: left;
    height: 7vw!important;
    width: 7vw!important;
}
#modal-add-user .modal-dialog .modal-content .modal-body .card.card-widget.widget-user-2 .widget-user-header.bg-info .data-user{
    padding-left: 2.2vw;
}
#modal-add-user .modal-dialog .modal-content .modal-body .card.card-widget.widget-user-2 .widget-user-header.bg-info .widget-user-image.relative input{
    position: absolute;
    width: 5vw;
    height: 5vw;
    opacity: 0;
}
